{% extends "../base.html" %}
{% load i18n %}
{% block title %}
    {% blocktranslate %}Profile:{% endblocktranslate %} {{request.user}}
{% endblock title %}  
{% block content %}
<div class="m-4">

    <h3 class="m-3">{% blocktranslate %}Username:{% endblocktranslate %}  ->  {{user.username}}</h3>
    <br>
    <h3 class="m-3">{% blocktranslate %}Email:{% endblocktranslate %}  ->  {{user.email}}</h3>
    <br>
    <h3 class="m-3">{% blocktranslate %}First Name:{% endblocktranslate %}  ->  {{user.first_name}}</h3>
    <br>
    <h3 class="m-3">{% blocktranslate %}Last Name:{% endblocktranslate %}  ->  {{user.last_name}}</h3>
    <br>
    <a href="{% url 'update_profile' user.id %}"><button type="button">{% blocktranslate %}Update{% endblocktranslate %}</button></a>
    <br>
    <a href="{% url 'password_change' %}"><button type="button">{% blocktranslate %}Change Password{% endblocktranslate %}</button></a>
</div>

{% endblock content %}