{% extends "base.html" %}
{% load static %}
{% load hitcount_tags %}
{% block title %}
{{title}}
{% endblock title %}

{% block content %}


       
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="sn-img">
                            <img src={{object.image.url}} />
                        </div>
                        <div class="sn-content">
                            <h1 class="sn-title" href="">{{object.title}}</h1>
                            <h5 class="sn-date" href=""><i class="far fa-clock"></i>{{object.create_at}}</h5>
                            <h5 class="sn-date" href=""><i class="far fa-eye"></i>{% get_hit_count for object %}</h5>
                            <p>
                                {{object.body}} 
                            </p>
                            <h5 class="sn-date" href=""><i class="fas fa-pen-nib"></i>  {{object.user_id.first_name}}  {{object.user_id.last_name}}</h5>
                            <br><br>
                            {% if request.user == object.user_id or request.user.is_superuser%}
                            <a href={% url "update" object.id %}><button>Update</button></a>
                            <a href={% url "delete" object.id %}><button>Delete</button></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">

                        {% for rec in recom %}
                        {% if rec.id != object.id %}
                        
                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="tn-img mb-4">
                                    <a  href={% url "detail" rec.id %}>
                                        <img src={{rec.image.url}} width="400px" height="230px"/>
                                        <div class="tn-content">
                                            <div class="tn-content-inner">
                                                <h5>{{rec.title}}</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    

                    
                </div>
            </div>
        </div>
        <!-- Single News End-->
                


{% endblock content %}