{% extends "base.html" %}
{% load static %}
{% block title %}
News
{% endblock title %}

{% block content %}



        <!-- Top News Start-->
        <div class="top-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 tn-left">
                        <div class="tn-img">
                            <img src={{top.image.url}}  height="530px"/>
                            <div class="tn-content">
                                <div class="tn-content-inner">
                                    <a class="tn-date" href="{% url 'detail' top.slug %}"><i class="far fa-clock"></i>{{top.create_at}}</a>
                                    <a class="tn-title" href="{% url 'detail' top.slug %}">{{top.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 tn-right">
                        <div class="row">
                            {% for new in top_news %}
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img src={{new.image.url}} width="435px" height="250px"/>
                                    <div class="tn-content">
                                        <div class="tn-content-inner">
                                            <a class="tn-date" href="{% url 'detail' new.slug %}"><i class="far fa-clock"></i>{{new.create_at}}</a>
                                            <a class="tn-title" href="{% url 'detail' new.slug %}">{{new.title}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->


        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container-fluid">
                <div class="row">
                {% for cate in newscate %}
                    <div class="col-md-6">         
                        {% for category in cate %}
                            {% if forloop.counter == 1 %}
                                <h2>
                                    <i class="fas fa-align-justify"></i>
                                    <a href={% url 'category' category.name_en %}>{{category.name}}</a>
                                    
                                </h2>  
                                <div class="row cn-slider">                         
                            {% else %}
                                <div class="col-md-6">
                                    <div class="cn-img">
                                        <img src={{category.image.url}} width="435px" height="250px"/>
                                        <div class="cn-content">
                                            <div class="cn-content-inner">
                                                <a class="cn-date" href=""><i class="far fa-clock"></i>{{category.create_at}}</a>
                                                <a class="cn-title" href={% url "detail" category.slug %}>{{category.title}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            {% endif %}
                                
                        {% endfor %}
                        </div>
                        
                        
                            
                          
                    </div>
                {% endfor %}
                </div>
                
            </div>
        </div>
        <!-- Category News End-->
        
        <!-- Main News Start-->
        <div class="main-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><i class="fas fa-align-justify"></i>Latest News</h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mn-img">
                                            <img src={{last.image.url}} width="500px"/>
                                        </div>
                                        <div class="mn-content">
                                            <a class="mn-title" href={% url 'detail' last.slug %}>{{last.title}}</a>
                                            <a class="mn-date" href={% url 'detail' last.slug %}><i class="far fa-clock"></i>{{last.update_at}}</a>
                                            <a class="mn-date" href={% url 'detail' last.slug %}><i class="far fa-eye"></i>{{last.view_co}}</a>
                                            <p>
                                                {{last.body}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                    {% for new in last_news %}
                                        <div class="mn-list">
                                            <div class="mn-img">
                                                <img src={{new.image.url}} width="100px" height="60px"/>
                                            </div>
                                            <div class="mn-content">
                                                <a class="mn-title" href={% url 'detail' new.slug %}>{{new.title}}</a>
                                                <a class="mn-date" href=""><i class="far fa-clock"></i>{{new.update_at}}</a>
                                                <a class="mn-date" href=""><i class="far fa-eye"></i>{{new.view_co}}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>Category</h2>
                                <div class="category">
                                    <ul class="fa-ul">
                                        {% for cate in category_list %}
                                            <li>
                                                <span class="fa-li">
                                                    <i class="far fa-arrow-alt-circle-right"></i>
                                                </span>
                                                <a href={% url 'category' cate.name_en %}>{{cate}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>Tags</h2>
                                <div class="tags">
                                {% for tag in tag_list %}
                                    <a href={% url "tag" tag.id %}>{{tag}}</a>
                                {% endfor %}
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main News End-->

{% endblock content %}