{% extends "base.html" %}
{% load static %}
{% load hitcount_tags %}
{% block title %}
{{title}}
{% endblock title %}

{% block content %}


        <!-- Top News Start-->
        <div class="top-news">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-md-12 tn-right">
                        <h3>
                            <b>
                                {{title}}
                            </b>
                        </h3>
                        <div class="row">
                            {% for new in news %}
                            <div class="col-md-3">
                                <div class="tn-img mb-4">
                                    <img src={{new.image.url}} width="435px" height="230px"/>
                                    <div class="tn-content">
                                        <div class="tn-content-inner">
                                            <a class="tn-date" href={% url "detail" new.slug %}><i class="far fa-clock"></i>{{new.create_at}}</a>
                                            <a class="tn-date" href={% url "detail" new.slug %}><i class="far fa-eye"></i>{{new.view_co}}</a>
                                            <a class="tn-title" href={% url "detail" new.slug %}>{% get_hit_count for new %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->


{% endblock content %}